# Directories
build
dist
doc
tests/data
.git
.vscode
.sentry-native

# Files
cmake/CMakeCacheForScript.cmake
BuildNumberCache.txt
Doxyfile
error.log
config-private.json
shared_libs.txt
/.vs
/CMakeSettings.json
