[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/libzmq"]
	path = thirdparty/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "thirdparty/cppzmq"]
	path = thirdparty/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "tests/MemPlumber"]
	path = tests/MemPlumber
	url = https://github.com/seladb/MemPlumber.git
[submodule "scripts/makeself"]
	path = scripts/makeself
	url = https://github.com/megastep/makeself.git
[submodule "thirdparty/sentry"]
	path = thirdparty/sentry
	url = https://github.com/getsentry/sentry-native.git
[submodule "thirdparty/prometheus-cpp"]
	path = thirdparty/prometheus-cpp
	url = https://github.com/egecetin/prometheus-cpp.git
